name: Build on MacOS

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install CMake
      run: brew install cmake

    - name: SetUp Enviroment
        working-directory: ./
        run: ./CI/setupEnv_Mac.sh

    - name: Test make
      working-directory: ./
      run: ./CI/run_build.sh
