name: Check Build

on:
  push:
    branches:
      - develop
      - feature/*
      - bugfix/*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: SetUp Enviroment
        working-directory: ./
        run: ./CI/setupEnv.sh

      - name: Test make
        working-directory: ./
        run: |
          ls GLTools
          source scripts/env.sh
          make